In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import sqlite3
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#from wordcloud import WordCloud
import re
import os
from sqlalchemy import create_engine # database connection
import datetime as dt
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn import metrics
from sklearn.metrics import f1_score,precision_score,recall_score
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from datetime import datetime

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import pylab as pl
from sklearn.cluster import SpectralClustering

In [3]:
import numpy as np
float_formatter = lambda x: "%.3f" % x
np.set_printoptions(formatter={'float_kind':float_formatter})
from sklearn.datasets import make_circles
from sklearn.cluster import SpectralClustering, KMeans
from sklearn.metrics import pairwise_distances
from matplotlib import pyplot as plt
import networkx as nx
import seaborn as sns
sns.set()

In [4]:
df = pd.read_csv('dataset/28_1800.csv')
table=df.pivot_table(index=["Name"])
table=table.reset_index()
# features order:
# 0.Name, 1.AirTemp., 2.Alt, 3.DewPoint, 4.Lat, 5.Longt, 6.Pres., 7.R.Humidity, 8.Visib., 9.WindDir., 10.WindGust, 11.WindSpeed

# change the order of features
table2=table.iloc[:,[1,2,3,6,7,8,9,10,11,0,4,5]]
table2

,AirTemp,Alt,DewPoint,Pressure,RelativeHumidity,Visibility,WindDirection,WindGust,WindSpeed,Name,Lat,Longt
0,NaN,20.0,NaN,NaN,NaN,NaN,175.000000,NaN,7.500000,3CLO3_2005_8_29.n3,46.22000,-124.00000
1,83.366667,5350.0,37.716667,NaN,19.750000,NaN,290.333333,8.166667,3.833333,4UT01_2005_8_29.n3,40.82944,-111.88222
2,87.516667,4950.0,16.608333,25.039167,7.333333,NaN,238.500000,18.916667,13.666667,690_2005_8_29.n3,43.53260,-112.94775
3,96.000000,4149.0,-14.550000,NaN,0.750000,NaN,201.250000,1.750000,1.000000,A01_2005_8_29.n3,37.03390,-116.09890
4,95.500000,4435.0,16.025000,25.517500,9.750000,NaN,208.500000,1.000000,1.000000,A02_2005_8_29.n3,37.14280,-116.11170
...,...,...,...,...,...,...,...,...,...,...,...,...
8574,100.000000,3999.0,33.600000,NaN,10.000000,NaN,182.000000,17.000000,7.000000,ZIOU1_2005_8_29.n3,37.20470,-112.97780
8575,61.700000,9340.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZIRC2_2005_8_29.n3,40.79000,-106.60000
8576,69.000000,900.0,44.300000,NaN,41.000000,NaN,291.000000,9.000000,2.000000,ZMBA2_2005_8_29.n3,56.30000,-132.84860
8577,88.900000,5741.0,35.975000,NaN,15.250000,NaN,263.500000,8.250000,2.750000,ZNP_2005_8_29.n3,37.23390,-112.87410
8578,88.000000,730.0,64.600000,NaN,46.000000,NaN,157.000000,6.000000,2.000000,ZSFO1_2005_8_29.n3,39.27530,-82.38500